body {
    overflow: auto;
}

content a {
    color: #E2001A;
}

.homeContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 80vH;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: center;*/
    width: 80%;
    max-width: 1024px;
    height: 80%;
}

.textContainer {
    height: inherit;
    width: 65%;
}

.textContent {
    overflow: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ecf0f1;
    padding: 20px;
}

.textContent h2 {
    color: #E2001A;
    font-weight: normal;
    font-style: italic;
    border-bottom: 1px solid #E2001A;
}

.twitterContainer {
    height: 100%;
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    /*margin: 10px;*/
    background-color: #ecf0f1;
}

/*.twitter-timeline {
    position: relative;
    height: 370px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ecf0f1;
    margin: 10px;
}*/

#twitter-widget-0 {
    position: relative;
    height: inherit !important;
    width: 100% !important;
}

p::first-line {
    line-height: 1em;
}

.initial {
    color: #E2001A;
    font-size: 180%;
    float: left;
    font-style: italic;
    margin-right: 5px;
    /*line-height: 1.5em;*/
}

@media all and (max-width: 800px) {
  .textContainer{
    width: 100%;
  }
  .textContent{
    padding: 7px;
    margin: 0;
  }
  .twitterContent{
    margin: 0;
  }

  .twitterContainer{
    width:100%;
  }
  .content{
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  content{
    top: 0;
    padding-top: 20%;
  }
}
  @media all and (max-width: 580px) {
    .textContainer{
      width: 100%;
    }
    .textContent, .twitterContent{
      padding: 7px;
      margin: 0;
    }

    .twitterContainer{
      width:100%;
    }
    .content{
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
    content{
      top: 12%;
      padding-top: 20%;
    }

}
