body {
    overflow: hidden;
}

content a {
    color: #E2001A;
}

.homeContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 90vH;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80vH;
}

.textContainer {
    height: 100%;
    width: 65%;
}

.textContent {
    overflow: auto;
    position: relative;
    height: 92%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ecf0f1;
    margin: 10px;
    padding: 20px;
}

.textContent h2 {
    color: #E2001A;
    font-weight: normal;
    font-style: italic;
    border-bottom: 1px solid #E2001A;
}
.twitterContainer {
    height: 100%;
    width: 25%;
}

.twitterContent {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ecf0f1;
    margin: 10px;
}

.twitterContent iframe {
    position: relative;
    height: 100% !important;
}

p::first-line {
    line-height: 1em;
}

.initial {
    color: #E2001A;
    font-size: 180%;
    float: left;
    font-style: italic;
    margin-right: 5px;
    /*line-height: 1.5em;*/
}
