body{
    font-family: 'Ubuntu', sans-serif;

    margin: 0;
    background-image: url("../img/stuehle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 5px;
    height: 10vH;
    width: 100%;
    background-color: #E2001A;
    color: white;
    z-index: 10;
}

header h1 {
    font-family: 'Bungee Shade', cursive;
}

header nav a {
    text-decoration: none;
    color: white;
    margin: 20px;
    transition: border-bottom 200ms ease-in-out;
}

header nav a:hover {
    /*color: red;*/
    border-bottom: 5px solid #ecf0f1;
}

.currentPage {
    border-bottom: 5px solid #ecf0f1;
}

header .teamLogo {
    height: 100%;
    width: 50px;
    background-image: url("../img/teamLogos/ssvJahnRegensburg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

header .sideMenuButton {
  position: fixed;
  left: 0;
  height: 10%;
  width: 5%;
  background-image: url("../img/menuButton.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header .sideMenuButton:hover {
  background-image: url("../img/menuButtonHover.svg");
}

content {
    position: absolute;
    z-index: -1;
    top: 12%;
    width: 100%;
    padding-top: 10px;
}


.sideNav{
  margin-top: 10vH;
  height: 90vH; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}




@media all and (max-width: 580px) {
  header {
    position: initial;
  }
}
