.overviewContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 2000px;
}

content .mapContainer {
    width: 48%;
    /*height: 700px;*/
    height: 87vH;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

#map {
    height: 100%;
    width: 100%;
}

content .teamInfoContainer {
    padding: 5px;
    width: 48%;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background: #E2001A;
}

.teamsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}

.teamInfo {
    opacity: 0;
}

.teamInfo.isVisible {
    -webkit-animation: entryFade 400ms ease-in forwards;
            animation: entryFade 400ms ease-in forwards;
}

@-webkit-keyframes entryFade {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    90% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        opacity: 1;
    }
}

.teamsList .teamInfo {
    list-style-type: none;
    width: 95%;
    background: #ecf0f1;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

.teamsList .teamsListEntry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.teamsList li a {
    color: #E2001A;
}

.teamsList li .buttonContainer {
    position: relative;
    bottom: 0;
    width: 10%;
    height: 100%;
}

.expandButton {
    bottom: 0;
    height: 30px;
    width: 30px;
    background-image: url("../img/expand-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.clickedExpandButton {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    /*background-image: url("../img/expand-arrow.svg");*/
}

.teamStats {
    margin-top: 10px;
    width: 100%;
    opacity: 0;
    border-top: 2px solid black;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.hidden {
    display: none;
}

.shown {
    opacity: 1;
}

.resetViewButton {
    width: 26px;
    height: 26px;
    background-color: white;
    background-image: url("../img/zoom-out.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.resetViewButton:hover {
    background-color: #f2f2f2;
}

.teamsList li:hover {
    background: #e1e7e9;
    border-color: white;
}

.teamsList li .teamLogoContainer {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.teamsList li .teamLogoContainer .teamLogo {
    background-image: url("../img/teamLogos/ssvJahnRegensburg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.teamsList li .teamDetailsContainer {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /*align-items: cente;*/
}

.teamList li .scoreContainer {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

div .scoreBox p {
    margin: 0;
    text-align: center;
}

.score,
.score2 {
    font-size: 1.5em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    background-color: rgba(189, 195, 199, 1);
}

footer a {
    float: right;
    margin-right: 5px;
}

@media all and (max-width: 800px) {
    .overviewContent {
        /* On small screens, we are no longer using row direction but column */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
    .mapContainer {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 20px;
        width: 100% !important;
    }
    .teamInfoContainer {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100% !important;
    }
}
