.overviewContent {
    display: flex;
    justify-content: space-around;

}

content .mapContainer {
    width: 48%;
    /*height: 700px;*/
    height: 87vH;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

#map {
    height: 100%;
    width: 100%;
}

content .teamInfoContainer {
    padding: 5px;
    width: 48%;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background: #E2001A;

}

.teamsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.teamInfo {
    opacity: 0;
}

.teamInfo.isVisible {
    animation: entryFade 400ms ease-in forwards;
}

@-webkit-keyframes entryFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
    }
}

.teamsList .teamInfo{
    list-style-type: none;
    width: 95%;
    background: #ecf0f1;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: border-color 300ms ease-in-out;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

.teamsList .teamsListEntry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamsList li a {
    color: #E2001A;
}

.teamsList li .buttonContainer {
    position: relative;
    bottom: 0;
    width: 10%;
    height: 100%;
}

.expandButton {
    bottom: 0;
    height: 30px;
    width: 30px;
    background-image: url("../img/expand-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 300ms ease-in-out;
}

.clickedExpandButton {
    transform:rotate(180deg);
    /*background-image: url("../img/expand-arrow.svg");*/
}

.teamStats {
    margin-top: 10px;
    width: 100%;
    opacity: 0;
    border-top: 2px solid black;
    transition: opacity 300ms ease-in-out;

}

.hidden {
    display: none;
}

.shown {
    opacity: 1;
}

.resetViewButton {
    width: 26px;
    height: 26px;
    background-color: white;
    background-image: url("../img/zoom-out.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.resetViewButton:hover {
    background-color: #f2f2f2;
}

.teamsList li:hover {
    background: #e1e7e9;
    border-color: white;
}

.teamsList li .teamLogoContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamsList li .teamLogoContainer .teamLogo {
    background-image: url("../img/teamLogos/ssvJahnRegensburg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.teamsList li .teamDetailsContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: cente;*/
}

.teamList li .scoreContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div .scoreBox p {
    margin: 0;
    text-align: center;
}

.score {
    font-size: 1.5em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    background-color: rgba(189, 195, 199,1);
}

footer a{
    float: right;
    margin-right: 5px;
}
