content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    margin-bottom: 20px;
    height: 80vH;
    font-size: 15pt;
}

.main {
  width: 60vW;
  margin-right: 5px;
  max-width: 1024px;
}

.sidebar {
  width: 30vW;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgWrapper div.imgCaption {
  font-size: 10pt;
}

.imgWrapper img {
  max-width: 500px;
  height: auto;
}

.stadionContent {
    background-color: #ecf0f1;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.7);
    padding: 10px;
    /*width: 80vW;*/
    /*margin-bottom: 20px;*/
}

/*.main div.stadionContent {
  width: 100%;
}*/

.sidebar div.first {
  margin-bottom: 10px;
}

h2 {
    color: #E2001A;
    border-bottom: 1px solid #E2001A;
    font-style: italic;
    font-weight: normal;
}

.mapContainer {
    background-color: lightgreen;
    height: 30vH;
    width: 100%;
    box-sizing: border-box;
}

#map{
    height: 100%;
    width: 100%;
}

.infoButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main li span, .main a span{
  color: #e1001a;
  text-decoration: underline;
  cursor: pointer;
  margin: 3px;
}

input[name=infoButton] {
    color: white;
    background-color: #e2001a;
    border-color: #e2001a;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 100px;
}

input[name=infoButton]:hover{
    cursor: pointer;
    background-color: #cb0017;
}

.historyContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.priceModal.modalContainer {
    margin: 10% auto !important;
}

.priceModal table {
    width: 100%;
    margin-bottom: 10px;
}

.priceModal th, .priceModal td {
    text-align: left;
}

.planModal.imgContainer{
    width: 100%;
    height: 100%;
}

.imgContainer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 1150px) {
  .historyContainer{
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 800px) {
  content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }
  .main {
    width: 90%;
    order: 1;
  }
  .sidebar {
    width: 90%;
    order: 2;
    margin-left: 0px;
    margin-top: 15px;
  }
  .imgContainer img {
    max-width: 450px;
    height: auto;
  }
}
