.Chartrow {
    padding-bottom: 30px;
    margin: 0;
    height: 50vW;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
}

.StatsContent {
    background-color: #ecf0f1;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 1800px;
    width: 95vW;
    height: 50vW;
    margin-left: auto;
    margin-right: auto;
    position: abolute;
    z-index: -10;
    float: none;
}

.Saisonverlauf {
    color: #E2001A;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

#LineChart {
    background-color: white;
    margin-top: 20px;
}

.chartLine {
    height: 100% !important;
    width: 70% !important;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-left: 20px;
}

.chartCake {
    padding-top: 30px;
}

.button {
    display: block;
    border-radius: 4px;
    background-color: #E2001A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    -webkit-animation: buttonFadeIn 400ms ease-in-out forwards;
    animation: buttonFadeIn 400ms ease-in-out forwards;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.hide {
    display: none;
}

@-webkit-keyframes buttonFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes buttonFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
