<<<<<<< Updated upstream
.Chartrow {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
}

.StatsContent {
    background-color: #ecf0f1;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 1800px;
    width: 95vW;
    margin-left: auto;
    margin-right: auto;
    position: abolute;
    z-index: -10;
}

.Saisonverlauf {
    color: #c0392b;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

=======
<<<<<<< HEAD
.Chartrow{
  padding-bottom: 30px;
  margin: 0;
  height: 50vW;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: center;

  -webkit-flex-flow: row wrap;

}
.StatsContent{
  background-color: #ecf0f1;
  border: 2px solid black;
  border-radius: 10px;
  max-width:1800px;
  width: 95vW;
  height: 50vW;
  margin-left: auto;
  margin-right: auto;
  position: abolute;
  z-index: -10;
  float: none;
}
.Saisonverlauf{
  color:#E2001A;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
=======
.Chartrow {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
}

.StatsContent {
    background-color: #ecf0f1;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 1800px;
    width: 95vW;
    margin-left: auto;
    margin-right: auto;
    position: abolute;
    z-index: -10;
}

.Saisonverlauf {
    color: #c0392b;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
>>>>>>> origin/master
}
.chartLine {
  height: 100% !important;
  width: 70% !important;
  order: 2;
  padding-left: 20px;
}

<<<<<<< HEAD
#Linechart {
  background-color: white;
  margin-top: 20px;
}
.chartCake{
  padding-top: 30px;
}
.button {
  display: block;
  border-radius: 4px;
  background-color: #E2001A;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
=======
>>>>>>> Stashed changes
#LineChart {
    height: 80% !important;
    width: 80% !important;
    background-color: white;
    margin-top: 20px;
<<<<<<< Updated upstream
=======
>>>>>>> origin/master
>>>>>>> Stashed changes
}
